html,
body {
  height: 100%;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 12px;
  line-height: 1.4;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: 0;
}

button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: buttonface;
  box-sizing: border-box;
  margin: 0em;
  font: 400 11px system-ui;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-image: initial;
}

button:focus {outline:0 !important;}

.container {
  flex: 1;
}

.a, .b, .c, .d, .e {
  display: inline-block;
}

.contain {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.music {
  text-align: center center;
}

.div {
  display: block;
}

.fa-ellipsis-v {
  /* display:inline-block;
  font-size: 40px;
  line-height: 50px;
  background-color:black;
  color:white;
  width: 50px;
  height: 50px;
  text-align: center; */
  vertical-align: middle;
}